<div class=" wrapper wrapper-content animated fadeInRight">
    <div class="ibox-title m-0 " style="border-style:none;">
        <h5>Perfil</h5>
        <div class="container">


        </div>


        <div class="row mt-2  ibox-title " style="border-style:none; height: 400px;">

            <div class="col-7">
                <p style="font-size: 23px;">Datos Personales</p>
                <div class="  ibox-title " style="border-style:none; border-width: 2px; height: 300px;">
                    <form class="m-t col-12  " role="form">
                        <p class="p-0 mb-2">Nombre</p>
                        <input type="email" class="form-control" placeholder="Username" required="">
                        <p class="p-0 mt-2 mb-1">Apellido</p>
                        <input type="email" class="form-control" placeholder="Apellido" required="">
                        <p class="p-0 mt-2 mb-1">Teléfono</p>
                        <input type="email" class="form-control" placeholder="Teléfono" required="">
                    </form>
                    <div class="ibox-content profile-content">

                        <div class="user-button align-content-center d-flex justify-content-center">
                            <div class="row">
                                <div class="col-8  ">
                                    <button type="button" class="btn btn-primary btn-sm "><i class="fa fa-cog"></i> cambiar imagen de perfil</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prueba   col-5">
                <div class="row">
                    <div class="col-5">
                        <p style="font-weight: 700; font-size: 21px;" class="p-0 mb-0 ">Nombre</p>
                        <p class="p-0 mb-2">panchon</p>
                        <p style="font-weight: 700; font-size: 21px;" class="p-0 mb-0 ">Apellidos</p>
                        <p class="p-0 mb-2">Ocaranza </p>
                        <p style="font-weight: 700; font-size: 21px;" class="p-0 mb-0 ">Teléfono</p>
                        <p class="p-0 mb-2">8-18-80-80</p>
                    </div>
                    <div class="col ml-3 imagen-perfil">
                        <img alt="image" class="img-fluid" src="../../../../assets/libs/img/panchon.jpeg" width="820">
                    </div>
                </div>
            </div>
        </div>
        <div class=" align-content-end d-flex justify-content-end">
            <div class="row mb-2">
                <button type="button" class="btn btn-cancelar btn-sm mr-3 "><i class="fa fa-ban"></i> Cancelar</button>
                <button type="button" class="btn btn-primary btn-sm  "><i class="fa fa-save"></i> Guardar</button>

            </div>
        </div>

    </div>