<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">IN+</h1>
            <form (ngSubmit)="login(f)" #f="ngForm" class="m-t" role="form" action="index.html">
                <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn ">El correo es obligatorio</span>
                <div class="form-group">
                    <input type="email" [(ngModel)]="usuario.email" name="email" class="form-control" placeholder="email" required email>
                </div>
                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn ">Al menos 6 letras</span>
                <div class="form-group">
                    <input type="password" [(ngModel)]="usuario.password" name="password" class="form-control" placeholder="Password" required minlength="6">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                <a routerLink="/olvidaste-contraseña"><small>Forgot password?</small></a>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" routerLink="/registro">Create an account</a>
            </form>
            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
        </div>
    </div>
</div>