<div id="wrapper" class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col">
            <button class="btn btn-sm btn-primary float-right " type="submit" routerLink="/registro-usuario/nuevo"><i class="fas fa-plus"></i> Nuevo
            </button>
        </div>
    </div>
    <div class="main-container ">
        <div class="row ">
            <div class="col  mt-3">
                <div class="ibox-title">
                    <h5>Listas de usuarios</h5>
                    <hr>
                    <div class="ibox-tools">
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                    <table *ngIf="!cargando && usuarios.length > 0" class="table col-12 animated fadeIn faster">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre comercial</th>
                                <th scope="col">Razón social</th>
                                <th scope="col">Encargado</th>
                                <th scope="col">Email</th>
                                <th scope="col">status</th>
                                <th scope="col">Horario</th>
                                <th scope="col">Ubicacion</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios; let i = index ">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{usuario.Ncomercial}}</td>
                                <td>{{usuario.rsocial}}</td>
                                <td>{{usuario.nombre}}</td>
                                <td>{{usuario.email}}</td>
                                <td>
                                    <label *ngIf="usuario.status" class="badge badge-primary">Abierto</label>
                                    <label *ngIf="!usuario.status" class="badge badge-danger">Cerrado</label>

                                </td>
                                <td>{{usuario.hapertura}} - {{usuario.hcierre}}</td>
                                <td>
                                    <!-- <a type="button" class=" btn btn-outline-primary " data-toggle="modal" data-target="#myModal"><i class="fas fa-map-marker-alt"></i>  Ver mas</a>
                                     -->
                                    <button class="btn btn-outline-primary" (click)="abrirmodal(content)">ver mas</button>
                                    <!-- Modal -->
                                    <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Ubicacion del local</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12 modal_body_content">
                                                            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
                                                                <agm-marker [latitude]="usuario.lat" [longitude]="usuario.lng">
                                                                    </agm-marker>
                                                            </agm-map>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                    <ng-template #content let-c="close" let-d="dismiss">
                                        <div class="modal-header ">
                                            <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-12 modal_body_content">
                                                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
                                                        <agm-marker [latitude]="usuario.lat" [longitude]="usuario.lng">
                                                        </agm-marker>
                                                    </agm-map>
                                                </div>
                                            </div>
                                        </div>

                                    </ng-template>
                                </td>
                                <td>{{usuario.tipo}}</td>
                                <th>
                                    <button class="btn btn-info mr-1" [routerLink]="['/registro-usuario',usuario.id]">
                                        <i class="fa fa-pen"></i>
                                    </button>
                                    <button class="btn btn-danger mr-1  " (click)="borrarUsuario(usuario, i);">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                </th>

                            </tr>

                        </tbody>


                    </table>
                    <div *ngIf="!cargando && usuarios.length === 0" class=" alert alert-warning text-center mt-3 animated fadeIn faster">
                        <h4 class="alert-heading">No hay registros</h4>
                        <p>
                            <i class="fa fa-exclamation  fa-2x"></i>
                        </p>
                        <p class="mb-0">
                            Espere por favor
                        </p>
                    </div>
                    <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
                        <h4 class="alert-heading">Cargando</h4>
                        <p>
                            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
                        </p>
                        <p class="mb-0">
                            Espere por favor
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>