<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">IN+</h1>
            <form class="m-t form-contraseña" role="form">
                <p>¿Olvidó su contraseña?</p>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" required="">
                </div>

                <a type="submit" class="btn btn-primary block full-width m-b">Enviar</a>

                <!-- <a type="button" class="btn btn-light" style=" font-size: 15px;" routerLink="/login">
                regresar
                </a> -->
                <button routerLink="/login" type="button" class="btn btn-light mt-2">regresar</button>

            </form>
            <p class="m-t"> <small> Glam &copy; 2014</small> </p>
        </div>
    </div>
</div>